<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hb/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{201, 55}, {25, 38}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {25, 38}}</string>
			<key>sourceSize</key>
			<string>{25, 38}</string>
		</dict>
		<key>hb/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{213, 28}, {25, 38}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {25, 38}}</string>
			<key>sourceSize</key>
			<string>{25, 38}</string>
		</dict>
		<key>hb/c.png</key>
		<dict>
			<key>frame</key>
			<string>{{101, 62}, {22, 38}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {22, 38}}</string>
			<key>sourceSize</key>
			<string>{25, 38}</string>
		</dict>
		<key>hb/container.png</key>
		<dict>
			<key>frame</key>
			<string>{{161, 51}, {25, 38}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {25, 38}}</string>
			<key>sourceSize</key>
			<string>{25, 38}</string>
		</dict>
		<key>hb/e.png</key>
		<dict>
			<key>frame</key>
			<string>{{41, 58}, {23, 38}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {23, 38}}</string>
			<key>sourceSize</key>
			<string>{25, 38}</string>
		</dict>
		<key>hb/exclamation_mark.png</key>
		<dict>
			<key>frame</key>
			<string>{{101, 35}, {25, 38}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {25, 38}}</string>
			<key>sourceSize</key>
			<string>{25, 38}</string>
		</dict>
		<key>hb/f.png</key>
		<dict>
			<key>frame</key>
			<string>{{101, 8}, {25, 38}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {25, 38}}</string>
			<key>sourceSize</key>
			<string>{25, 38}</string>
		</dict>
		<key>hb/floor.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {160, 5}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {160, 5}}</string>
			<key>sourceSize</key>
			<string>{160, 5}</string>
		</dict>
		<key>hb/hit_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{199, 97}, {13, 15}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {13, 15}}</string>
			<key>sourceSize</key>
			<string>{13, 15}</string>
		</dict>
		<key>hb/hit_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{216, 97}, {12, 15}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {12, 15}}</string>
			<key>sourceSize</key>
			<string>{12, 15}</string>
		</dict>
		<key>hb/hit_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{199, 82}, {13, 16}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {13, 16}}</string>
			<key>sourceSize</key>
			<string>{13, 16}</string>
		</dict>
		<key>hb/i.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 58}, {23, 38}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {23, 38}}</string>
			<key>sourceSize</key>
			<string>{25, 38}</string>
		</dict>
		<key>hb/inverted_exclamation_mark.png</key>
		<dict>
			<key>frame</key>
			<string>{{213, 1}, {25, 38}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {25, 38}}</string>
			<key>sourceSize</key>
			<string>{25, 38}</string>
		</dict>
		<key>hb/jump_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{141, 77}, {13, 17}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {13, 17}}</string>
			<key>sourceSize</key>
			<string>{13, 17}</string>
		</dict>
		<key>hb/jump_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{141, 48}, {13, 18}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {13, 18}}</string>
			<key>sourceSize</key>
			<string>{13, 18}</string>
		</dict>
		<key>hb/jump_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{217, 82}, {13, 16}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {13, 16}}</string>
			<key>sourceSize</key>
			<string>{13, 16}</string>
		</dict>
		<key>hb/l.png</key>
		<dict>
			<key>frame</key>
			<string>{{141, 8}, {18, 38}}</string>
			<key>offset</key>
			<string>{-3, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {18, 38}}</string>
			<key>sourceSize</key>
			<string>{25, 38}</string>
		</dict>
		<key>hb/left.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 8}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{48, 48}</string>
		</dict>
		<key>hb/push_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{141, 63}, {12, 18}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {12, 18}}</string>
			<key>sourceSize</key>
			<string>{12, 18}</string>
		</dict>
		<key>hb/push_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{81, 72}, {12, 18}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {12, 18}}</string>
			<key>sourceSize</key>
			<string>{12, 18}</string>
		</dict>
		<key>hb/push_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{81, 58}, {12, 18}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {12, 18}}</string>
			<key>sourceSize</key>
			<string>{12, 18}</string>
		</dict>
		<key>hb/right.png</key>
		<dict>
			<key>frame</key>
			<string>{{163, 1}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{48, 48}</string>
		</dict>
		<key>hb/s.png</key>
		<dict>
			<key>frame</key>
			<string>{{160, 78}, {25, 37}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {25, 37}}</string>
			<key>sourceSize</key>
			<string>{25, 38}</string>
		</dict>
		<key>hb/up.png</key>
		<dict>
			<key>frame</key>
			<string>{{51, 8}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{48, 48}</string>
		</dict>
		<key>hb/walk_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{241, 74}, {13, 17}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {13, 17}}</string>
			<key>sourceSize</key>
			<string>{13, 17}</string>
		</dict>
		<key>hb/walk_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{241, 55}, {13, 17}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {13, 17}}</string>
			<key>sourceSize</key>
			<string>{13, 17}</string>
		</dict>
		<key>hb/walk_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{235, 93}, {12, 16}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {12, 16}}</string>
			<key>sourceSize</key>
			<string>{12, 16}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{256, 256}</string>
		<key>textureFileName</key>
		<string>hb.pvr</string>
	</dict>
</dict>
</plist>
