<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hb/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{315, 99}, {51, 77}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {51, 77}}</string>
			<key>sourceSize</key>
			<string>{51, 77}</string>
		</dict>
		<key>hb/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{421, 54}, {51, 77}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {51, 77}}</string>
			<key>sourceSize</key>
			<string>{51, 77}</string>
		</dict>
		<key>hb/c.png</key>
		<dict>
			<key>frame</key>
			<string>{{276, 14}, {44, 77}}</string>
			<key>offset</key>
			<string>{-3, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {44, 77}}</string>
			<key>sourceSize</key>
			<string>{51, 77}</string>
		</dict>
		<key>hb/container.png</key>
		<dict>
			<key>frame</key>
			<string>{{421, 107}, {50, 77}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {50, 77}}</string>
			<key>sourceSize</key>
			<string>{51, 77}</string>
		</dict>
		<key>hb/e.png</key>
		<dict>
			<key>frame</key>
			<string>{{315, 152}, {47, 77}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {47, 77}}</string>
			<key>sourceSize</key>
			<string>{51, 77}</string>
		</dict>
		<key>hb/exclamation_mark.png</key>
		<dict>
			<key>frame</key>
			<string>{{197, 67}, {51, 77}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {51, 77}}</string>
			<key>sourceSize</key>
			<string>{51, 77}</string>
		</dict>
		<key>hb/f.png</key>
		<dict>
			<key>frame</key>
			<string>{{197, 14}, {51, 77}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {51, 77}}</string>
			<key>sourceSize</key>
			<string>{51, 77}</string>
		</dict>
		<key>hb/floor.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {320, 11}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {320, 11}}</string>
			<key>sourceSize</key>
			<string>{320, 11}</string>
		</dict>
		<key>hb/hit_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 140}, {26, 31}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {26, 31}}</string>
			<key>sourceSize</key>
			<string>{26, 31}</string>
		</dict>
		<key>hb/hit_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{34, 140}, {25, 31}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {25, 31}}</string>
			<key>sourceSize</key>
			<string>{25, 31}</string>
		</dict>
		<key>hb/hit_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{217, 120}, {26, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {26, 32}}</string>
			<key>sourceSize</key>
			<string>{26, 32}</string>
		</dict>
		<key>hb/i.png</key>
		<dict>
			<key>frame</key>
			<string>{{421, 159}, {47, 76}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {47, 76}}</string>
			<key>sourceSize</key>
			<string>{51, 77}</string>
		</dict>
		<key>hb/inverted_exclamation_mark.png</key>
		<dict>
			<key>frame</key>
			<string>{{421, 1}, {51, 77}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {51, 77}}</string>
			<key>sourceSize</key>
			<string>{51, 77}</string>
		</dict>
		<key>hb/jump_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{111, 112}, {26, 34}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {26, 34}}</string>
			<key>sourceSize</key>
			<string>{26, 34}</string>
		</dict>
		<key>hb/jump_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 112}, {26, 36}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {26, 36}}</string>
			<key>sourceSize</key>
			<string>{26, 36}</string>
		</dict>
		<key>hb/jump_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{147, 112}, {27, 33}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {27, 33}}</string>
			<key>sourceSize</key>
			<string>{27, 33}</string>
		</dict>
		<key>hb/l.png</key>
		<dict>
			<key>frame</key>
			<string>{{276, 93}, {37, 77}}</string>
			<key>offset</key>
			<string>{-6, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {37, 77}}</string>
			<key>sourceSize</key>
			<string>{51, 77}</string>
		</dict>
		<key>hb/left.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 14}, {96, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {96, 96}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>hb/push_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{394, 176}, {25, 36}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {25, 36}}</string>
			<key>sourceSize</key>
			<string>{25, 36}</string>
		</dict>
		<key>hb/push_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{394, 138}, {25, 36}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {25, 36}}</string>
			<key>sourceSize</key>
			<string>{25, 36}</string>
		</dict>
		<key>hb/push_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{394, 99}, {25, 37}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {25, 37}}</string>
			<key>sourceSize</key>
			<string>{25, 37}</string>
		</dict>
		<key>hb/right.png</key>
		<dict>
			<key>frame</key>
			<string>{{323, 1}, {96, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {96, 96}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>hb/s.png</key>
		<dict>
			<key>frame</key>
			<string>{{421, 208}, {50, 75}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {50, 75}}</string>
			<key>sourceSize</key>
			<string>{51, 77}</string>
		</dict>
		<key>hb/up.png</key>
		<dict>
			<key>frame</key>
			<string>{{99, 14}, {96, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {96, 96}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>hb/walk_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{75, 112}, {26, 34}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {26, 34}}</string>
			<key>sourceSize</key>
			<string>{26, 34}</string>
		</dict>
		<key>hb/walk_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{39, 112}, {26, 34}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {26, 34}}</string>
			<key>sourceSize</key>
			<string>{26, 34}</string>
		</dict>
		<key>hb/walk_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{182, 120}, {25, 33}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {25, 33}}</string>
			<key>sourceSize</key>
			<string>{25, 33}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>textureFileName</key>
		<string>hb.pvr.ccz</string>
	</dict>
</dict>
</plist>
